@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body,
html {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Alphabetized';
  src: url(./assets/fonts/alphabetized\ cassette\ tapes.ttf) format('truetype');
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-alphabetized {
  font-family: "Alphabetized", sans-serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

:root {
  --text-primary-color: #4f4f4f;
  --text-navy: #1e293b;
  --text-secondary-color: #000;
  --text-title-color: #18181b;
  --text-normal: #0f172a;
  --text-white: #f9fafb;
  --text-footer: #0d0d0d;
}

/* style for mobile  */
@layer components {
  .primary-btn {
    @apply flex items-center px-4 py-2 rounded-md gap-x-2 bg-btn-black font-mulish;
  }

  .install-container {
    @apply flex items-center rounded-md gap-x-2 bg-btn-black font-mulish;
  }

  .section-layout-style {
    @apply relative flex flex-col items-center pt-6;
  }

  .title-text-default {
    @apply font-jakarta text-title font-[800] text-center leading-[44px];
  }

  .feature-title {
    @apply font-opensans font-[600] text-[18px] text-[#363636];
  }

  .feature-paragraph {
    @apply font-opensans font-[400] text-[14px] text-gray/55;
  }

  .question-box {
    @apply border-b border-b-stone-300 pb-2 pt-4  w-[90%] mx-auto;
  }

  .question-box-header {
    @apply flex items-center justify-between mb-4 md:pt-6;
  }

  .footer-text {
    @apply font-mulish font-[700] text-[22px] mb-2 md:mb-3;
  }

  .contact-container p {
    @apply font-mulish font-[500] text-[14px] text-center;
  }

  .contact-container h4 {
    @apply font-inter text-[16px] text-center mt-6 pb-6 text-[#98A2B3];
  }

  .free-tutorial-text {
    @apply font-semibold text-gray right-0 text-[18px] font-alphabetized;
  }
}

.border-box {
  position: relative;
  background-clip: padding-box !important;
  border: solid 10px transparent !important;
  border-radius: 1rem;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  border: 2px solid black;
  width: 21px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 1px) rotate(-45deg);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.card-gradient-shadow::before {
  content: "";
  position: absolute;
  inset: 3px;
  transform: translate(2px, 5px);
  z-index: -1;
  filter: blur(10px);
  background-image:
    linear-gradient(
      to right,
      #44ff9a,
      #44b0ff,
      #8b44ff,
      #f64,
      #ebff71
    );
}

.border-box::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #ab96f8, #ff99d0);
}

.tutorial-text span {
  font-size: 8px;
  font-weight: 500;
}

.tutorial-text h3 {
  font-size: 21px;
  color: #18181b;
  opacity: 80%;
  font-weight: 500;
  border-bottom: 1px solid #18181b;
}

.bg-gradient::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%); /* Move the gradient to the left by half of its width */
  width: 95%;
  height: 40%;
  z-index: -1;
  filter: blur(5px);
  background-image:
    linear-gradient(
      to right,
      #f0fbb9,
      #fbb3a0,
      #bfa2fd,
      #a4d0fc,
      #9fe9e2,
      #9fface
    );
}

.question-box h2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.question-box p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.tutorial-create-box {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.drop-water-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.learn-more-company li {
  font-weight: 600;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
}



/* style for desktop  */
@media screen and (min-width: 768px) {
  .tutorial-text h3 {
    font-size: 40px;
  }

  .tutorial-text span {
    font-size: 14px;
  }

  .bg-gradient::before {
    content: '';
    top: 20px;
    width: 99%;
    height: 40%;
}
}
