@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.font-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.font-opensans {
    font-family: "Open Sans", sans-serif;
}

.font-mulish {
    font-family: "Mulish", sans-serif;

}

:root {
    --text-primary-color: #4F4F4F;
    --text-navy: #1E293B;
    --text-secondary-color: #000000;
    --text-title-color:#18181B;
    --text-normal: #0F172A;
    --text-white: #F9FAFB;
    --text-footer: #0D0D0D;
}

/* style for mobile  */
@layer components {
    .install-container, .primary-btn {
        @apply flex items-center px-4 py-2 rounded-md gap-x-2 bg-btn-black font-mulish;
    }

    .section-layout-style {
       @apply relative flex flex-col items-center pt-6
    }

    .title-text-default {
        @apply font-jakarta text-title font-[800] text-center leading-[44px]
    }

    .feature-title {
        @apply font-opensans font-[600] text-[18px] text-[#363636]
    }

    .feature-paragraph {
        @apply font-opensans font-[400] text-[14px] text-gray/55
    }
}

/* .border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 10px;
    border-radius: 3rem;
    border-image-source: linear-gradient(to right, #AB96F8 , #FF99D0 );
} */

.border-box {
    position: relative;
    background-clip: padding-box !important;
    border: solid 10px transparent !important;
    border-radius: 1rem ;
}

.card-gradient-shadow::before {
    content: "";
    position: absolute;
    inset: 5px;
    transform: translate(-1px, 14px);
    z-index: -1;
    filter: blur(20px);
    background: conic-gradient(from 195deg at 53% 5%, #44FF9A, #44B0FF, #8B44FF, #FF6644, #EBFF71);
}



.border-box::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index:  -1;
    margin: -10px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #AB96F8 , #FF99D0 );
}
/* style for desktop  */ 
@media screen and (min-width: 768px) {
    
}